.home{
    padding-left: 6vw;
    padding-right: 6vw;
}

.glow-button {
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  
  .glow-button:hover {
    box-shadow: 0 0 15px 3px rgba(192, 132, 252, 0.6),
                0 0 30px 6px rgba(255, 204, 83, 0.4);
    transform: translateY(-2px);
  }


 
  
  .top-card:hover{
    transition: all 0.3s;
    transform: translateY(-2px);
  }

